{
  "presets": [
    "next/babel",
  ],
  "env": {
    "development": {
      "plugins": [
        ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ]
      ]
    },
    "production": {
      "plugins": ["transform-inline-environment-variables"]
    }
  }
}
